* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Play', sans-serif;
}
button{
    background: none;
    border: none;
    cursor: pointer;
}

:root{
    --blue : rgba(34, 55, 233);
    --blueT : rgba(34, 55, 233, 0.3);
    --lightGray : rgb(219, 221, 226);
}

/* ========================================================
table
======================================================== */
.table-container{
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;    
}
thead {
    background: var(--lightGray);
}
 tr {
    border-bottom: 1px solid var(--lightGray)!important;
}
thead tr th{
    padding: 12px;
}
.action{
    width: 29px;
}
td{
    width: 50%;
    padding: 5px;
    text-align: center;
}

/* ========================================================
list-item
======================================================== */
#list-item{
    display: flex;
    flex-direction: column;
}
.user-item{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px var(--lightGray) solid;
}
.delete-button{
    margin: 0 8px;
}

/* ========================================================
modais
======================================================== */

/* -------------------------------- loader */

#loader {
    background: var(--blueT);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------------------------------- form */

.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--blueT);
    display: none;
    /* display: flex; */
    z-index: 999;
    align-items: center;
    justify-content: center;
}
.active {
    display: flex;
}
#modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: white;
    border-radius: 21px;
    width: 90%;
    max-width: 700px;
}
#modal-form .close{
    float: right;
    cursor: pointer;
}
#modal-form fieldset{
    width: 100%;
    min-width: 350px;
    border-radius: 21px;
    padding: 30px;
    text-align: end;    
}
#modal-form fieldset #input-phone{    
    margin: 30px 0;    
}
#modal-form fieldset button{
    border: none;
    cursor: pointer;
}
#modal-form fieldset button:hover{
    scale: 1.5;    
}
